<div>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
        <a routerLink='/product/create'>
            <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
        </a>
    </section>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <th scope="col"><a (click)="sortBy('productCode')">Code</a></th>
            <th scope="col"><a (click)="sortBy('description')">Description</a></th>
            <th scope="col"><a (click)="sortBy('price')">Price</a></th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | sort:sortCriteria:sortOrder">
                <td>{{product.productCode}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price | currency}}</td>
                <td>
                    <a routerLink='/product/detail/{{product.productCode}}'>
                        <img width='20' height='20' src='assets/details.png' title='Product Details'>
                    </a> 
                    |                     
                    <a routerLink='/product/edit/{{product.productCode}}'>
                        <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Product'>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
